body {
    box-sizing:         border-box;
    margin:             0;
    padding:            0;
    background-color: #000;
    color:            #fff;
}

main {
    display:            flex;
    height:             400px;
    justify-content:    center;
    font-family:        'Raleway', sans-serif;
}

div.group {
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    align-items:        center;
    width:              360px;
    margin:             0 15px;
}

div.pictogram-background {
    display:            flex;
    justify-content:    center;
    align-items:        center;
    width:              80px;
    height:             80px;
    background-color: #ffae00;
    border-radius:      20px 0px;
}

i.pictogram {
    font-family:        FontAwesome;
    font-size:          35px;
    line-height:        24px;
    font-weight:        400;
    text-transform:     uppercase;
    color:            #ffffff;
}

h2.group-title {
    font-size:          24px;
    line-height:        24px;
    font-weight:        400;
    text-transform:     uppercase;
    margin:             44px 0;
}

p.group-description {
    margin:             0;
    padding:            0 20px;
    text-align:         center;
    font-size:          14px;
    line-height:        24px;
    font-weight:        400;
}

footer {
    display:            flex;
    flex-direction:     column;
    justify-content:    flex-end;
    align-items:        center;
    font-family:        'Open Sans', sans-serif;
    height:             420px;
}

p.copyright {
    margin-top:90px;
    margin-bottom:      42px;
    font-family:        OpenSans;
    font-size:          15px;
    line-height:        1.2;
    font-weight:        600;
}

.kasper {
    color:            #00c7fc;
    text-decoration:    none;
}

div.social-links {
    width:              230px;
    display:            flex;
    flex-direction:     row;
    justify-content:    space-around;
}

#separator {
    margin:             20px 0;
}

h2.footer-title {
    margin:0;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.05em;
}

#logo {
    margin-bottom: 57px;
}